<!DOCTYPE html>
<html lang="en" class="cuerpo">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="cuerpo">
  <img class="imagen" src="https://pbs.twimg.com/media/FleM3QdX0AEVcH9.jpg:large">
  <h1 class="título">The Amazing Spíder-man 2</h1>
  <h2>Historia</h2>
  <h3>"The Amazing Spider-man 2" es una película protagonizada por Andrew Garfield. Se estrenó el 25 de Abril de 2014. <br>Su historia principal está conectada directamente con la primera parte, "The Amazing Spider-man 1", la cual nos narra la vida de un adolescente que fue mordido por una araña radioactiva, con la cual consiguió poderes. En esta segunda entrega nos narra la vida de Peter Parker después del acontecimiento ocurrido en New York, ahora encontrándose con un nuevo villano, "Electro".</h3>
  <h2>Motivos por los que me gusta</h2>
  <ul>
    <li>Su historia en envolvente</li>
    <li>Sus actores realizan un buen trabajo</li>
    <li>Porque es una película de un super héroe</li>
  </ul>
  <h2>Personajes</h2>
  <ul>
    <li>Peter Parker/Spider-man</li>
    <li>Gwen Stacy</li>
    <li>Electro</li>
    <li>Tía May</li>
    </ul>
    <h2>Otra películas o series similares</h2>
    <h3>Spider-man (Tobey Mcguire)</h3>
    <h4>Una trilogía de películas que trata de un chico que fue mordido por una araña radioactiva, y se verá envuelto en varios complicaciones cuando los villanos aparezcan</h4>
    <h3>Venom</h3>
    <h4>Película que trata sobre un ex-reportero muy famoso que fue absorbido por un simbionte alienígena, el cual le hace cambiar de actitud a una muy brusca.</h4>
    

  
</body>
</html>